{% load staticfiles %}

<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>

<head>
<title>{{ blog_info.title }}</title>
<link href="https://fonts.googleapis.com/css?family=Luckiest+Guy" rel="stylesheet" type="text/css">
<link href="https://fonts.googleapis.com/css?family=Open+Sans:700" rel="stylesheet" type="text/css">
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
<link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>

{% block header-outer %}
<div id="header">
{% block header %}
<h1><a href="{% url 'main:home' %}">{{ blog_info.title }}</a></h1>
<p>{{ blog_info.description }}</p>
{% endblock %}
</div>
{% endblock %}

<div id="topbar">
{% block topbar %}
{% if user.is_authenticated %}
<span>User: {{ user.get_username }} (<a href="{% url 'main:logout' %}">Log out</a>)</span>
<a href="{% url 'main:new-post' %}">New post</a>
{% else %}
<span>User: <a href="{% url 'main:login'%}?next={{ request.path | urlencode }}">Log in</a></span>
{% endif %}
{% endblock %}
</div>

<br>

{% block archives-outer %}
<div id="archives">
{% block archives %}
<h4>Archives</h4>
<ul>
{% for month in archives %}
<li><a href="{% url 'main:archives' month.year month.month %}">{{ month.month_name }} {{ month.year }}</a> ({{ month.nr_of_posts }})
{% endfor %}
</ul>
{% endblock %}

<br>

<h4>Feeds</h4>
<ul>
<li><a href="{% url 'main:feeds-posts' %}">Posts</a>
</div>

{% endblock %}

<div id="content">
{% block content %}
{% endblock %}
</div>

</body>
</html>
