<div class="post">

<h2><a href="{% url 'main:post' post.pk %}">{{ post.title }}</a></h2>

<p><i>Posted {{ post.pub_date | date:my_date_format }} by {{ post.author.get_username }}.
{{ post.nr_of_comments }} comment{{ post.nr_of_comments | pluralize }}.
{% if post.author == user or user.is_superuser %}
<a href="{% url 'main:edit-post' post.pk %}">(Edit)</a>
{% endif %}

</i></p>

<p> {{ post.content | linebreaksbr }}</p>
</div>

{% if show_comments %}
<br>
<br>

<h3>{{ post.nr_of_comments }} comment{{ post.nr_of_comments | pluralize }}</h3>

{% if user.is_authenticated %}
<a href="{% url 'main:new-comment' post.pk %}">Post a new comment</a>
{% else %}
<span>Login to post comments.</span>
{% endif %}

<br>
<br>
<br>

{% for comment in comments %}
<div class="comment" id="comment-{{ comment.pk }}">
<p><i>{{ comment.author.get_username }} commented on {{ comment.pub_date | date:my_date_format }}.
{% if comment.author == user or user.is_superuser %}
<a href="{% url 'main:edit-comment' comment.pk %}">(Edit)</a>
{% endif %}
</i></p>
<p> {{ comment.content | linebreaksbr }}</p>
</div>
{% endfor %}

{% endif %}
